img {
  max-width: 250px;
  max-height: 250px;
}

.project {
  height: 400px;
  width: 400px;
  margin: 20px;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  border: 5px solid lightblue;
}

.main-contain {
  width: 880px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

a {
  margin-left: 15px;
}

h3 {
  margin-left: 15px;
}

.about {
  display: block;
}