img {
  max-width: 350px;
  max-height: 270px;
}

body {
  background-color: black;
  font-family: 'Arimo', sans-serif;
}

.project {
  background-color: white;
  height: 320px;
  width: 410px;
  margin: 20px;
  display: inline-block;
  box-sizing: border-box;
  float: left;
  border: 10px solid grey;
}

.main-contain {
  width: 900px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: white;
}

a {
/*  margin-left: 20px;*/
/*  color: #0131b4;*/
  text-decoration: none;
}

a:hover {
  color:  #b40131;
}

.glink {
  margin-left: 20px;
  color: #0131b4;
}

.clink {
  color: white;
}

.ilink {
  margin-left: 20px;
}

h3 {
  margin-left: 20px;
}

.about {
  display: block;
}

p {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.info {
  color: white;
}

.contact {
  display: inline-block;
  margin-left: 30px;
}